<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>十种语言讲loveYou.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>167EF9971DFA484B008A0DA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>167EF9B01DFA484B008A0DA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>167EF9BB1DFA484B008A0DA7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
